* {
    box-sizing: border-box;
}
#loaderLogo {
    display: block;
    max-width: 80%;
    height: auto;
    margin: 100px auto;
}
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid silver;
    border-radius: 50%;
    border-top: 16px solid #00aeff;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    -o-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite; /* Standard syntax */
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
}
@-o-keyframes spin {
    0% { -o-transform: rotate(0deg); }
    100% { -o-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.animatebottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1.5s;
    -moz-animation-name: animatebottom;
    -moz-animation-duration: 1.5s;
    -o-animation-name: animatebottom;
    -o-animation-duration: 1.5s;
    animation-name: animatebottom;
    animation-duration: 1.5s;
}
@-webkit-keyframes animatebottom {
    from {bottom: -100px; opacity: 0;}
    to {bottom: 0; opacity: 1;}
}
@-moz-keyframes animatebottom {
    from {bottom: -100px; opacity: 0;}
    to {bottom: 0; opacity: 1;}
}
@-o-keyframes animatebottom {
    from {bottom: -100px; opacity: 0;}
    to {bottom: 0; opacity: 1;}
}
@keyframes animatebottom {
    from {bottom: -100px; opacity: 0;}
    to {bottom: 0; opacity: 1;}
}
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    line-height: 1.5;
}
#page {display: none;}

/* topnav styling */
.topnav ul {
    margin: 0;
    padding: 20px 70px;
    position: fixed;
    top: 0;
    z-index: 1;
    list-style-type: none;
    width: 100%;
    height: 80px;
    background: -webkit-linear-gradient(left, #223def, #00aeff);
    background: -moz-linear-gradient(left, #223def, #00aeff);
    background: -o-linear-gradient(left, #223def, #00aeff);
    background: linear-gradient(to right, #223def, #00aeff);
    color: white;
}
.topnav .left {
    float: left;
}
.topnav .right {float: right;}
.topnav li {padding: 10px;}
.topnav a {
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 5px;
}
.topnav a:hover {
    border-bottom: 3px solid white;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.topnav .menu-icon {display: none;}

/* sidenav styling */
.sidenav {
    background-color: #1a1a1a;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; /* standard syntax */
    overflow: hidden;
    padding-top: 55px;
}
.sidenav a {
    text-align: center;
    display: block;
    text-decoration: none;
    color: silver;
    font-weight: bold;
    font-size: 1.5em;
}
.sidenav a:not(:first-child) {
    padding: 15px 25px;
}
.sidenav a:hover {
    color: white;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; /* standard syntax */
}
.sidenav .closebtn {
    position: absolute;
    top: 12px;
    right: 15px;
}

/* Styling for home */
.home {
    background: -webkit-linear-gradient(left, #223def, #00aeff);
    background: -moz-linear-gradient(left, #223def, #00aeff);
    background: -o-linear-gradient(left, #223def, #00aeff);
    background: linear-gradient(to right, #223def, #00aeff);
    color: white;
    height: 100vh;
    position: relative;
}
.home-content {
    display: inline-block;
    height: 248px;
    width: 45%;
    margin: 248px 0;
    padding: 0 50px 0 80px;
}
.artIllustration {
    height: 410px;
    width: 480px;
    position: absolute;
    top: 190px;
    right: 100px;
    z-index: 0;
    background-image: url(Images/Icons.png);
    background-position: center;
    background-size: cover;
}
.explore-div {
    margin: 160px 0 0 0;
    position: relative;
}
.downarrow {
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-animation: bouncearrow .45s ease-in-out infinite;
    -moz-animation: bouncearrow .45s ease-in-out infinite;
    -o-animation: bouncearrow .45s ease-in-out infinite;
    animation: bouncearrow .45s ease-in-out infinite; /* standard syntax */
}
@-webkit-keyframes bouncearrow {
    from {bottom: 0;}
    to {bottom: 15px;}
}
@-moz-keyframes bouncearrow {
    from {bottom: 0;}
    to {bottom: 15px;}
}
@-o-keyframes bouncearrow {
    from {bottom: 0;}
    to {bottom: 15px;}
}
@keyframes bouncearrow {
    from {bottom: 0;}
    to {bottom: 15px;}
}
.explore-div a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 5px 10px;
    margin-left: 25px;
    padding: 5px 10px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s; /* standard syntax */
}
.explore-div a:hover {
    background-color: white;
    color: #223def;
}
.about, .work-overview {
    color: #262626;
    margin: 0;
    padding: 50px 450px 0 80px;
}
.about h1, .work-overview h1 {margin-bottom: 0;}
.about span, .work-overview span {
    font-size: 25px;
}
.work-container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex; /* standard syntax */
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -o-flex-flow: row wrap;
    flex-flow: row wrap; /* standard syntax */
    padding:  0 0 0 80px;
    color: #262626;
}
.each-work {
    width: 330px;
    height: 250px;
    margin: 20px 60px 20px 0;
}
.contact {
    background-color: #00aeff;
    color: white;
    padding: 30px 0 60px 80px;
}
.contact span {color: #262626;}
.contact a {
    background-color: #223def;
    color: white;
    text-decoration: none;
    font-size: 1.15em;
    font-weight: bold;
    padding: 15px 25px;
    border-radius: 5px;
}
.contact a:hover {
    background-color: white;
    color: #223def;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; /* standard syntax */
}
.footer {
    padding: 20px 60px 20px 15px;
    color: #223def;
}
.social-icons {
    float: right;
    font-size: 20px;
}
.social-icons a {
    margin: 8px;
    color: #223def;
}

/* Screen sizes between 769px and 1000px */
@media screen and (max-width: 1000px) and (min-width: 769px) {
    .topnav ul {
        height: 65px;
        padding: 10px 45px 10px 10px;
    }
    .home-content {padding: 0 30px 0 20px;}
    .artIllustration {
        height: 295px;
        width: 345px;
        top: 220px;
        right: 80px;
    }
    .about, .work-overview {padding: 35px 180px 0 20px;}
    .contact {padding-left: 20px;}
    .footer {padding-left: 20px;}
}

/* Media queries for screen sizes below 768px */
@media screen and (max-width: 768px) {
    .topnav .right {display: none;}
    .topnav .menu-icon {
        float: right;
        display: block;
    }
    .topnav ul {
        padding: 2px;
        height: 60px;
    }
    .home {height: auto;}
    .home-content {
        display: block;
        height: auto;
        width: 100%;
        margin: 59px 0;
        padding: 60px 15px;
    }
    .explore-div {display: none;}
    .artIllustration {
        position: relative;
        display: block;
        height: 255px;
        width: 300px;
        margin: 30px auto 0 auto;
        top: -20px;
        right: 0;
    }
    .about, .work-overview {padding: 30px 15px 0 15px;}
    .work-container {padding: 0 0 0 40px;}
    .each-work {margin: 20px 15px;}
    .contact {padding-left: 15px;}
    .footer {padding: 20px 15px 15px;}
    .social-icons {float: none;}
}

/* Screen sizes between 500px and 768px */
@media screen and (max-width: 768px) and (min-width: 500px) {
    .home-content {padding: 60px 90px 60px 15px;}
}